.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header{
  position: relative;
  background-color: #141f40;
  height: 100px;
  width:400px;
}

.box1-1{
  background-color: #a9004b;
  width:40px;
  height:40px;
  position:absolute;
  border: solid 10px white;
  right:120px;
  bottom:20px;
}

.box1-2{
  background-color: #a9004b;
  width:40px;
  height:40px;
  position:absolute;
  border: solid 10px white;
  right:70px;
  bottom:20px;
}

.box1-3{
  background-color: #a9004b;
  width:40px;
  height:40px;
  position:absolute;
  border: solid 10px white;
  right:20px;
  bottom:20px;
}

.main{
  display: flex;
}

.left{
  background-color: #80bfa8;
  height:250px;
  width:150px;
}

.right{
  position:relative;
  background-color: #8c2727;
  height:250px;
  width:250px;
  
}

.box2-1{
  border: solid 5px white;
  background-color: #ff863f;
  height:40px;
  width:130px;
  position:absolute;
  top:40px;
  right:60px;
}

.box2-2{
  border: solid 5px white;
  background-color: #ff863f;
  height:40px;
  width:130px;
  position:absolute;
  top:100px;
  right:60px;
}

.box2-3{
  border: solid 5px white;
  background-color: #ff863f;
  height:40px;
  width:130px;
  position:absolute;
  bottom:40px;
  right:60px;
}


.footer{
  background-color: #d98d30;
  height:100px;
  width:400px;
}